/**
 * Author: Lakshman Veti
 * Type: Stylesheet
 * Objective: provide stylesheet for upload screen
 * Associated Route/Usage: /upload
*/


.Upload {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
}

.Upload .Content {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  box-sizing: border-box;
  width: 100%;
}

.Upload .Files {
  margin-left: 32px;
  align-items: flex-start;
  justify-items: flex-start;
  flex: 1;
  overflow-y: auto;
}

.Upload .Actions {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 5px;
}

.Upload .Title {
  /* margin-bottom: 32px; */ 
  color: #321fdb;
  font-weight:normal;
  /* line-height: 2; */
}

.Upload .Filename {
  margin-bottom: 8px;
  font-size: 16px;
  color: #555;
}

.Upload .Row {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 65px;
  padding: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.Upload .CheckIcon {
  opacity: 0.5;
  margin-left: 32px;
}

.Upload .ProgressWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.svg-inline--fa.fa-w-18 {
  width: .85em !important;
}

.Upload button.upload, .Upload button.clear {
  font-family: "Roboto medium", sans-serif;
  font-size: 14px;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  border-radius: 2px;
  color: #4f5d73;
  background-color: #ced2d8;
  outline: 0;
}

.Upload button:disabled {
  background: rgb(189, 189, 189);
  cursor: default;
}

.ProgressBar{width: 95% !important;}